@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap");

:root {
  --main-bg-color: rgb(39, 39, 39);
  --main-font-color: rgb(255, 204, 204);
  --second-font-color: rgb(112, 76, 76);
}

.page {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  line-height: 1.2;
  font-weight: 400;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

.header {
  max-width: 800px;
  width: 100%;
  margin: 30px auto 100px;
  text-align: center;
}

.header__title {
  font-weight: 400;
  font-size: 52px;
  margin: 0 0 40px 0;
}

.header__title-span {
  font-weight: 400;
  font-style: italic;
  background: #ffcccc;
  background: linear-gradient(
    to bottom right,
    var(--main-font-color) 10%,
    var(--second-font-color) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__form {
  max-width: 600px;
  width: 100%;
  gap: 10px;
  margin: auto;
  display: flex;
}

.header__input {
  width: 100%;
  height: 30px;
  font-size: 20px;
  color: var(--main-font-color);
  border: none;
  border-bottom: solid var(--main-font-color);
  background-color: var(--main-bg-color);
}

.header__submit {
  font-size: 20px;
  background-color: var(--main-bg-color);
  border: solid var(--main-font-color);
  color: var(--main-font-color);
  cursor: pointer;
}

.header__submit:hover {
  border: solid var(--second-font-color);
  color: var(--second-font-color);
}

.main__item-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  max-width: 800px;
  width: 100%;
  border: solid var(--second-font-color);
  display: flex;
  padding: 20px;
  justify-content: space-between;
  margin: auto;
}

.item__title {
  margin: 0;
}

.item__delete {
  cursor: pointer;
}

.item__delete:hover {
  opacity: 0.6;
}
